*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: whitesmoke;
}
.shopping{
    padding: 40px 60px;
    width: 70%;
    height: 70vh;
    background-color: white;
}
.title-wrapper{
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center;
}

.title-wrapper>span{
    font-size: 32px;
    font-weight: bold;
}